body {
    line-height: 30px;
}

.yolo-site #wrapper h2 {
    color: #25262c;
    font-size: 25px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
}

.yolo-site #wrapper .form-group label {
    color: #202020;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.yolo-site #wrapper .form-group label .required {
    color: #c00;
}

.yolo-site #wrapper .form-group input {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #eeeeee;
    height: 40px;
    text-align: left;
    font-size: 14px;
    color: #858585;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    outline: 0 none;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
}

.yolo-site #wrapper .form-group input[type=checkbox] {
    height: auto;
    position: relative;
    width: auto;
}

.yolo-site #wrapper .form-group input[type=file] {
    border: none;
}

.yolo-site #wrapper .form-group select {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #eeeeee;
    height: 40px;
    text-align: left;
    font-size: 14px;
    color: #858585;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    outline: 0 none;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
}

.yolo-site #wrapper .form-group .checkbox label, .radio label {
    padding: 0;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    padding: 5px 20px;
    min-width: 120px;
    margin-right: 30px;
    margin-top: 5px;
}

.list-view .empty {
    text-align: center;
    margin-top: 40px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid-view, .list-view {
    margin-top: 30px;
}

div.results .grid-view, .list-view {
    margin-top: 0;
}

div.results .list-view .empty {
    margin-top: 0;
}

.yolo-header-style-6 .header-right {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 40px;
}