div.mobile-menu div.logo img {
    max-height: 60px;
}

form#complain-form.anonymous div.field-complains-name,
form#complain-form.anonymous div.field-complains-phone,
form#complain-form.anonymous div.field-complains-email {
    display: none;
}

div.loading {
    text-align: center;
}

input#search-field.focused {
    width: 960px;
}

div#search-result {
    border: 1px solid #ccc;
    background: #fff;
    width: 100%;
    position: absolute;
    z-index: 3;
    padding: 10px;
}